.boxcontainer{
    height: 200px;
    width: 200px;
    background-color: hotpink;
    display: inline-flex;
    justify-content: space-between;
    margin: 2px;
    box-shadow: 5px 10px;
    animation: slide-in 3s;
}

.fonty{
    color: forestgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    align-self: center;
    padding: 50px;
}

@keyframes slide-in{
    from{
        transform: translateX(1600px);
    }to{
        transform: translateX(0px);
    }
}