.boxcontainer{
    height: 200px;
    width: 200px;
    background-color: hotpink;
    display: inline-flex;
    justify-content: space-between;
    margin: 2px;
}

.fonty{
    color: forestgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
    padding: 50px;
}